<!DOCTYPE html>
<html
     xmlns:th="http://www.thymeleaf.org"
     xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
     layout:decorate="template1.html"
     
     >
<head>
    <title>Nouveau Type</title>
  
</head>
<body>
	 <div class="container-xxl flex-grow-1 container-p-y mt-3"> <!-- Ajoutez la classe mt-3 ici -->
	<div id = "content" class = "content layout-list" layout:fragment="content">
		<div class="p-3">
	<div class ="row mt-3">
		<div class="col-md-8 offset-1"> 
		<div class="card">
			<div class="card-header">Ajouter un nouveau Type</div>
			<div class="card-body"> 
				<form th:action="@{/saveType}" method="post">
					<div class="mb-2">
					     <label for="exampleInputEmail1" class="form-label">Designation : </label>
                         <input type="text" name="designation" class="form-control" th:value="${type.designation}" >
                           <div  class="form-text text-danger" th:errors="${type.designation}"></div>
                         
                    </div>
                    
                     
              
                    
					<button type="submit" class="btn btn-success">Ajouter</button>
				</form>
			</div>
		</div>
		</div>
	</div>
	
		
	</div>
	</div>
   </div>
</body>
</html>
